* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f3f4;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #707070;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 2px solid transparent;
}

.error-message {
  font-size: 12px;
  color: red;
  margin: 10px 0;
}